
.category {
    width: 250px;
    height: 200px;

    position: relative; /* For positioning the pseudo-element */
    box-shadow: 0 0 10px 0 gray;
    transition: all 500ms;
    
    display: flex;
    justify-content: center;
    margin: 8px;

    border-radius: 3px;
    border: 3px solid gray;
    cursor: pointer;

    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 500ms;
    
}
.category::before  {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: gray 0px 20px 30px -10px;
    opacity: 0;
    transition: opacity 500ms;
}

.category:hover::before {
    opacity: 1;
}

.category__name {
    align-self: flex-end;
    width: 100%;
    background-color: white;
    line-height: 2em;
    display: flex;
    text-transform: capitalize;
    justify-content: center;
    transition: all 500ms;
}

.game-active {
    position: relative; /* For positioning the pseudo-element */
    box-shadow: 0 0 10px 0 #9e47ff;
    border-color: #018786;
    transition: all 500ms;
}
.game-active::before {
    /* Position the pseudo-element. */
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    /* Create the box shadow at expanded size. */
    box-shadow: #9e47ff 0px 20px 30px -10px;
    // box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
  
    /* Hidden by default. */
    opacity: 0;
    transition: opacity 500ms;
}
.game-active:hover::before {
    /* Show the pseudo-element on hover. */
    opacity: 1;
}


