
.wordCard {
    width: 250px;
    height: 200px;

    overflow: hidden;

    position: relative; /* For positioning the pseudo-element */
    box-shadow: 0 0 10px 0 gray;
    transition: all 500ms;

    margin: 18px;

    border-radius: 3px;
    border: 3px solid gray;
    cursor: pointer;

    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 500ms;
    transform-style: preserve-3d;
}

.flipped .enWord {
    display: none;
}

.enWord, .ruWord {
    border-top: 1px solid gray;;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center; 
    height: 32px;
    line-height: 32px;
    background-color: white;

    position: absolute;
    top: 168px;

    transition: all 200ms;
}
.enWord .material-icons {
    position: absolute;
    align-self: center;
    right: 5px;
}
.flipped .ruWord {
    transform: scale(-1, 1);
    display: flex;
}
.ruWord {
    display: none;
}

.flipped {
    transform: rotateY(180deg);
}
.card-flip{
    border: 1px solid gray;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
    top: -16px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0,0,0,.12);
}


