* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-size: cover;
    color: #000000;
    transition: background-image 1s ease-in-out;
  }

  .next-image {
    position: absolute;
    bottom: 5%;
    left: 5%;

    transition: all .4s;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 0;
    background: url("https://www.pngarts.com/files/3/Next-Button-Download-Transparent-PNG-Image.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
  }
  .next-image:hover {
    opacity: 0.8;
  }
  .next-image:active, .next-image:focus {
    outline: 0;
  }
  .next-image:active{
    transform: scale(1.09)
  }
  
  .time {
    font-size: 10rem;
  }
  
  h1 {
    margin-bottom: 3rem;
  }
  
  h2 {
    margin-bottom: 0.5rem;
    opacity: 0.8;
  }
  
  @media (max-width: 700px) {
    .time {
      font-size: 6rem;
    }
  }