* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 14px;
  }
  .body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;


    height: 100vh;
    background-size: cover;
    color: rgb(5, 7, 5);
    transition: all 0.3s;
    transition: background-image 1s ease-in-out;

    background-repeat:no-repeat;
    background-position:center top;
    background-size: cover;
  }

  .wrapper {
    background-color: rgba( 255, 255, 255, .1);
  }

  .image-number, .time-of-image {
    font-weight: bold;
  }
  .note-wrapper {
    font-size: 2vw;
    position: absolute;
    top: 5%;
    right: 5%;

    padding: 10px;
    background-color: rgba( 255, 255, 255, .2);

    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .next-image, .next-quote {

    transition: all .4s;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 0;
    background-image: url("https://www.pngarts.com/files/3/Next-Button-Download-Transparent-PNG-Image.png");
    background-size: contain;
    background-color: rgba( 255, 255, 255, .5);
    border-radius: 50%;
    background-repeat: no-repeat;
    margin: 10px;

    filter: grayscale(1);
  }

  .button-wrapper {
    display: flex;

    position: absolute;
    bottom: 5%;
    left: 5%;
  }

  .next-quote {
    border: 5px solid  rgba( 255, 255, 255, .3);
    left: 11%;
    background-image: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");

  }

  .next-image:hover, .next-quote:hover {
    opacity: 0.8;
  }
  .next-image:active, .next-image:focus {
    outline: 0;
  }
  .next-image:active, .next-quote:active{
    transform: scale(1.09)
  }
  
  .time {
    font-size: 3rem;
    cursor: context-menu;
  }


  .greeting-wrapper, .focus-wrapper, .time, .quote-wrapper, .weather-wrapper {
    padding: 8px;
    cursor: context-menu;
    font-size: 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: visible;
  }
  .name, .focus, .city {
    border: none;
    box-shadow: none;
    background-color: transparent;
    min-width: 30px;
    max-width: 400px;
    font-size: inherit;
    margin-left: 10px;
    cursor: auto;
    font-weight: bold;
  }
  .city {
    max-width: 250px;
  }

  .weather-wrapper > * {
    margin-left: 5px;
    margin-right: 5px;
  }

  .name:focus, .focus:focus, .next-quote:focus, .city:focus {
    outline: none;
  }

  .name:focus {
    border-color: transparent;
    border: none;
  }

  .quote-wrapper {
    justify-content: center;
    width: 90%;
    align-items: center;
  }
  .quote {
    font-weight: bold;
  word-wrap: break-word;
  }

  @media (max-width: 1200px) {
    .focus-wrapper, .greeting-wrapper, .quote-wrapper, .weather-wrapper {

      align-items:  center;
      flex-direction: column;
    }
    .focus-wrapper > *, .greeting-wrapper > *, .quote-wrapper > * , .weather-wrapper > *{
      flex-shrink: 1;
      text-align: center;
    }
  }

  @media (max-width: 900px) {
    .focus-wrapper, .greeting-wrapper, .time, .weather-wrapper {
      font-size: 5vw;
  }
    .note-wrapper {
      font-size: 4vw;
    }
}