@font-face {
    font-family: 'Anon';
    src: url('./assets/fonts/anon-webfont.woff2') format('woff2'),
      url('./assets/fonts/anon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
  background-color: #f5f5f6;
}

.main-content {
  font-family: 'Anon';
  overflow: auto;
  height: 100vh;
  width: 100vw; 
  transition: all 0.3s;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
}


/*main */
.game-bord__wrapper {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  
}
.game-bord {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}

