@font-face {
    font-family: 'Anon';
    src: url('./assets/fonts/anon-webfont.woff2') format('woff2'),
      url('./assets/fonts/anon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
}

body {
  transform-style: preserve-3d;
  display: flex;
  height: 100vh;
  background-color: #f5f5f6;
}

.main-content {
  font-family: 'Anon';
  overflow: auto;
  height: 100vh;
  width: 100vw; 
  transition: all 0.3s;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
}


/*main */
.game-bord__wrapper {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  
}
.game-bord {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* game mode */
.game-active > div {
  transform: scale(1.01);
  position: relative; 
  box-shadow: 0 0 10px 0 #6200ee;
  border-color: #018786;
  transition: all 500ms;
}
.game-active > div::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  box-shadow: #6200ee 0px 20px 30px -10px;

  /* Hidden by default. */
  opacity: 0;
  transition: opacity 500ms;
}
.game-active > div:hover::before {
  /* Show the pseudo-element on hover. */
  opacity: 1;
}

